@import url(https://fonts.googleapis.com/css?family=Didact+Gothic:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,600);

#cboxOverlay { opacity: 0.5 !important; }

body {
  font-family: "Didact Gothic";
  line-height: 160%;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

header {
  height: 6em;
  margin: auto;
  background-color: rgb(30,30,30);
  position: fixed;
  top: 0;
  width: 100%;
}

#footer-row {
  background-color: rgb(30,30,30);
  height: auto;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0;
}

.pointer, .pointer_text {
  margin-right: 5px;
  float: right;
  color: rgba(0,0,0,0.7)
}

#empty {
  height: 120px;
}

.clique-intelligence {
  margin-left: 15px;
  position: relative;
  z-index: 100;
}

#date_input {
  font-family: "Roboto";
  font-size: 16px;
  margin-right: 5px;
  border-radius: 5px;
  width: 195px;
  height: 1.75em;
}

#calendar {
  z-index: 1000;
}

.category {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 5px;
  display: block;
}

h4 {
  color: white;
  letter-spacing: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  text-transform: uppercase;
}

#tool_title {
  margin-left: 15px;
  font-size: 16px;
  letter-spacing: 2px;
}

.header-image {
  width: 90px;
  display: inline-block;
  vertical-align: middle;
}

#header-section{
  z-index: 100;
  color: white;
}

#controls {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  float: right;
  display: inline-flex;
  padding-right: 5px;
}

#legend {
  height: 2em;
  border: 1px solid gray;
  top: 96px;
  width: 100%;
  position: absolute;
  background-color: white;
}

#legend_stats {
  margin-left: 5px;
}

.legend_value {
  font-family: "Roboto";
  font-weight: 600;
  margin-right: 5px;
}

button, select {
  outline: none;
}

select {
  font-size: 16px;
}

.select_title {
  color: white;
}

.select_component {
  margin-left: 5px;
  margin-bottom: -20px;
}

.node {
  fill: black;
  stroke-width: 3;
  stroke-linejoin: round;
}

.brand_name {
  z-index: 1000;
}

#point_to_bottom, #point_to_top {
  z-index: -100;
}

.tooltip {
  display: none;
}

.tooltip .bg {
  opacity: 0.7;
}

.tooltip text {
  fill: white;
}

active.tooltip {
  display: inherit;
}

.node text {
  text-anchor: middle;
  fill: black;
}

@media screen and (max-width: 1140px) {
  #controls {
    display: inline-block;
    transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
  }

  .select_component, .select_date {
    margin-left: 0;
    display: inline;
  }

  #tool_title {
    margin-top: -15px;
  }
}